<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
            font-family: 'Arimo';
            src: url('fonts/Arimo-VariableFont_wght.ttf');
            -fs-pdf-font-embed: embed;
            -fs-pdf-font-encoding: Identity-H;
        }

        body {
            font-family: Arimo;
            padding: 0 5em;
        }
    </style>
</head>
<body>
    <h1>Възникна грешка</h1>
    <div>Заявката Ви не беше изпълнена.<br/>
    Моля, опитайте отново или се свържете с нас на предоставения имейл.
    </div>
</body>
</html>